<h4>以下の内容で登録しました。</h4>

<p>
  <strong>名前:</strong>
  <%= @comment.user_name %>
</p>

<p>
  <strong>コメント:</strong>
  <%= @comment.body %>
</p>
<br>

<%= link_to '編集', edit_comment_path(@comment) %>|
<%= link_to '戻る', events_path %>
