<<<<<<< HEAD
<table border>
        <caption>全社員向けイベント</caption>
        <tr>
        <th>1.イベント名</th> <th>2.日時  </th> <th>3.備考</th>
        </tr>
  
=======
<<<<<<< HEAD
=======

>>>>>>> 6a989583507d28cc308bca3599a517af61caa9c0
<h1>Listing events</h1>

>>>>>>> a21059f26b55aa7e56165e8b67f2d630cebb0967
<% @events.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |event| %>
      <div class="col-md-4">
        <tr>
        <td><%= link_to event.name, event %></td> <td> event.date </td> <td><%= event.description %></td>
        </tr>
      </div>
    <% end %>
  </div>
<% end %>
  
</table>

<<<<<<< HEAD
<table border>
        <caption>参加予定イベント</caption>
        <tr>
        <th>1.イベント名</th> <th>2.日時  </th> <th>3.備考</th>
        </tr>
  
<% @events.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |event| %>
      <div class="col-md-4">
        <tr>
          <td><%= link_to event.name, event %></td> <td> event.date </td> <td><%= event.description %></td>
        </tr>
      </div>
    <% end %>
  </div>
<% end %>
  
</table>
<br />
=======
<<<<<<< HEAD
<br />
=======
<br />
>>>>>>> 6a989583507d28cc308bca3599a517af61caa9c0
>>>>>>> a21059f26b55aa7e56165e8b67f2d630cebb0967
