<table border>
        <caption>全社員向けイベント</caption>
        <tr>
        <th>1.イベント名</th> <th>2.日時  </th> <th>3.備考</th>
        </tr>
  
<% @events.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |event| %>
      <div class="col-md-4">
        <tr>
        <td><%= link_to event.name, event %></td> <td> event.date </td> <td><%= event.description %></td>
        </tr>
      </div>
    <% end %>
  </div>
<% end %>
  
</table>

<table border>
        <caption>参加予定イベント</caption>
        <tr>
        <th>1.イベント名</th> <th>2.日時  </th> <th>3.備考</th>
        </tr>
  
<% @events.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |event| %>
      <div class="col-md-4">
        <tr>
          <td><%= link_to event.name, event %></td> <td> event.date </td> <td><%= event.description %></td>
        </tr>
      </div>
    <% end %>
  </div>
<% end %>
  
</table>
<br />