<h1>関係者ページ</h1>

<br>

<input type="button" value="関係者用パスワードを入力して関係者用イベントを閲覧する" onclick="gate();">

<script type="text/javascript">
   function gate() {
      var UserInput = prompt("パスワードを入力して下さい:","");
      location.href = UserInput + ".html";
   }
  </script>