// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
<<<<<<< HEAD

=======
.container a:hover {
  color: #f55e55;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
}
>>>>>>> 6a989583507d28cc308bca3599a517af61caa9c0
.container input[type="submit"] {
   height: 30px;
   font-size: 13px;
   background-color: #f55e55;
   border: none;
   color: #fff;
<<<<<<< HEAD
 }
=======
 }
>>>>>>> 6a989583507d28cc308bca3599a517af61caa9c0
