// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th {
width: 150px;
height: 50px;
font-size : 20px;
}
td {
height: 50px;
font-size : 20px;
}
TABLE style{
  font-size : 40px;
}
caption{
  font-size : 50px;
  font-weight:bold;
}